body {
  --text-color: #222;
  --background-color: #fff;
}

body.dark-theme {
  --text-color: #fff;
  --background-color: rgb(40, 40, 43);
}

body {
  background: var(--background-color);
}

h1,
p {
  color: var(--text-color);
}

button {
  border: none;
  background-color: transparent;
}

